<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>

  <div class="box2">
    <div class="group">
      <div class="overlap-group">
        <div class="text-wrapper">K</div>
      </div>
      <div class="div">AMB</div>
    </div>
  </div>

  <!--Background gray box-->
  <div class="box6">
    <div class="rectangle"> </div>
</div>
  
 
  <div class="text">Ambient Music <br /> Radio Station</div>
  <div class="text2">Welcome</div>
 
  <div class="form">
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="Your Name" required>
      <input type="password" name="password" placeholder="Your Password" required>
      <button type="submit">Access</button>
    </form>
  </div>
</body>

</html>