<!DOCTYPE html>
<html>

<head>
  <title>Radio Station</title>
  <link rel="stylesheet" href="mainpage.css">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body class="body-bg">
  <header class="main-header">
    <h1><span style="color: rgb(96, 96, 151);"><%= username %></span>, welcome to KAMB Station</h1>
  </header>

 
  <nav class="main-nav">
    <p>I am a...</p>
  </br> 
    <ul class="nav-list">
      <li><strong><a href="/listener">Listener  </a></strong></li>
      <li><strong><a href="/producer">Producer  </a></strong></li>
      <li><strong><a href="/djpage">DJ</a></strong></li>
    </ul>
  </nav>

  <footer class="main-footer">
    <p>© 2022 KAMB Radio Station</p>
  </footer>
</body>

</html>