<!DOCTYPE html</>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title> User Profile </title>
    <link rel="stylesheet" type="text/css" href="profileUS.css">
</head>
<body>
    <div class="box"><div class="rectangle"></div></div>
  
    <div class="box2">
      <div class="group">
        <div class="overlap-group"><div class="text-wrapper">K</div></div>
        <div class="div">AMB</div>
      </div>
    </div> 
  
      <div class="box3"><img class="ellipse" src="img/ellipse.png"/></div>
      <div class="box4"><div class="rectangle"></div></div>

      <div class="profile">
        <img src="img/Ellipse.png" alt="User">
        <h2 id="username"><%= username %></h2>
        <div class="buttons">
          <button>Data</button>
          <button>Info</button>
          <button>Edit</button>
          <button onclick="location.href='/login'">Logout</button>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <h2>Recommendations</h2>
          <ul>
            <li>Recommendation 1</li>
            <li>Recommendation 2</li>
            <li>Recommendation 3</li>
          </ul>
        </div>
        <div class="column">
          <h2>Merch</h2>
          <ul>
            <li>Merch 1</li>
            <li>Merch 2</li>
            <li>Merch 3</li>
          </ul>
        </div>
        <div class="column">
          <h2>Freebies</h2>
          <ul>
            <li>Freebie 1</li>
            <li>Freebie 2</li>
            <li>Freebie 3</li>
          </ul>
        </div>
      </div>

</body>
</html>